/*
Pricing Table
 */

.wrap-price-table {
    margin-top: 60px;
}
.plans {
    width: 836px;
    margin: 50px auto;
    overflow: hidden;
}
.plan {
    float: left;
    width: 100%;
    margin: 10px 0px;
    padding: 15px;
    text-align: center;
    background: #FFFCF4;
    background-clip: padding-box;
    border-radius: 0;
}
.plan-title {
    margin-bottom: 12px;
    font-size: 17px;
    color: #f79365;
    text-transform: uppercase;
    /* border-bottom: 2px solid #f79365; */
    padding: 10px 0;
    /* margin: 0 -15px; */
}
.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 40px;
    font-weight: bold;
    color: #32526E;
}
.plan-price small {
    font-size: 20px;
    margin: -20px 5px 0 0;
    position: relative;
    top: -10px;
    color: #888;
}
.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
.plan-features {
    width: 100%;
    margin: 20px auto 15px;
    padding: 0;
    border-top: 1px solid #e5ded6;
    text-align: center;
}
.plan-features li {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.plan-feature + .plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}
.plan-feature-unit {
    margin-left: -5px;
    font-size: 12px;
}
.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
.plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #f79365;
    /**/
    border-bottom: 2px solid #cf7e3b;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.plan-button:active {
    top: 2px;
    margin-bottom: 2px;
    border-bottom: 0;
}
.plan-highlight {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.plan-highlight .plan-button {
    font-size: 18px;
    line-height: 49px;
    background: #FF6B57;
    border-color: #3996b3;
    border-color: rgba(0, 0, 0, 0.15);
}
.plan-recommended {
    width: 100%;
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #FF6B57;
    border-radius: 0 0 4px 4px;
}
.plan-circle {
    background: #37BCE5;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff!important;
}
.plan-circle h3 {
    color: #fff;
    padding: 35px 0 0 0;
}
.plan-circle p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.plan-circle span {
    margin: 0;
}
.plan-circle-highlight {
    background: #45B6B0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff!important;
}
.plan-circle-highlight h3 {
    color: #fff;
    padding: 35px 0 0 0;
}
.plan-circle-highlight p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.plan-circle-highlight span {
    margin: 0;
}
/*
Timeline
 */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #F79365;
    left: 50%;
    margin-left: 0px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    background: #FFFCF4;
    width: 46%;
    float: left;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #f79365;
    width: 45px;
    height: 45px;
    line-height: 39px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -22px;
    background-color: #FCF5DE;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid #f79365;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
    border-bottom: 4px double #f7cdaa;
    padding: 0 20px 25px;
    margin: 0 -20px 20px;
    color: #F79365;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
    font-size: 13px;
    color: #888;
    line-height: 1.6em;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/*
404 & 500
 */

.not-found {
    text-align: center;
}
.not-found h1 {
    color: #f9b493;
    font-size: 13em;
    font-weight: bold;
    display: inline-block;
}
.not-found h1 i {
    height: 100px;
    width: 100px;
    line-height: 100px;
    background: #F79365;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    color: #fff;
}
.not-found h2 {
    color: #f9b493;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
.not-found p {
    color: #f9b493;
    margin-top: 8px;
}
.not-found-search {
    width: 30%;
    margin: 30px auto 0 auto;
}
