/*
Gmap
 */

.gmap3 {
    margin: 0 auto 10px auto;
    width: 100%;
    height: 300px;
}
/*
Icons
 */

.entypo li, .entypo-tooltip li {
    float: left;
    height: 10%;
    padding: 0.5em;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 10%;
    list-style: none;
    font-size: 20px;
    color: #363E49;
}
.entypo li:hover, .entypo-tooltip li:hover {
    color: #000;
    cursor: pointer;
}
.the-icons {
    line-height: 24px;
    color: #FF6B57!important;
}
.fontawesome-icon-list {
    color: #FF6B57!important;
}
.fontawesome-icon-list span {
    color: #888!important;
    font-size: 13px;
}
.switch {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #666;
}
.switch input {
    margin-right: 0.3em;
}
.codesOn .i-name {
    display: none;
}
.codesOn .i-code {
    display: inline;
}
.i-code {
    display: none;
}
.i-name {
    font-size: 13px;
    color: #777;
}
/*
Pricing Table
 */

.wrap-price-table {
    margin-top: 60px;
}
.plans {
    width: 836px;
    margin: 50px auto;
    overflow: hidden;
}
.plan {
    float: left;
    width: 100%;
    margin: 10px 0px;
    padding: 15px;
    text-align: center;
    background: #FFFCF4;
    background-clip: padding-box;
    border-radius: 0;
}
.plan-title {
    margin-bottom: 12px;
    font-size: 17px;
    color: #f79365;
    text-transform: uppercase;
    /* border-bottom: 2px solid #f79365; */
    padding: 10px 0;
    /* margin: 0 -15px; */
}
.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 40px;
    font-weight: bold;
    color: #32526E;
}
.plan-price small {
    font-size: 20px;
    margin: -20px 5px 0 0;
    position: relative;
    top: -10px;
    color: #888;
}
.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
.plan-features {
    width: 100%;
    margin: 20px auto 15px;
    padding: 0;
    border-top: 1px solid #e5ded6;
    text-align: center;
}
.plan-features li {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.plan-feature + .plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}
.plan-feature-unit {
    margin-left: -5px;
    font-size: 12px;
}
.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
.plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #f79365;
    /**/
    border-bottom: 2px solid #cf7e3b;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.plan-button:active {
    top: 2px;
    margin-bottom: 2px;
    border-bottom: 0;
}
.plan-highlight {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.plan-highlight .plan-button {
    font-size: 18px;
    line-height: 49px;
    background: #FF6B57;
    border-color: #3996b3;
    border-color: rgba(0, 0, 0, 0.15);
}
.plan-recommended {
    width: 100%;
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #FF6B57;
    border-radius: 0 0 4px 4px;
}
.plan-circle {
    background: #37BCE5;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff!important;
}
.plan-circle h3 {
    color: #fff;
    padding: 35px 0 0 0;
}
.plan-circle p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.plan-circle span {
    margin: 0;
}
.plan-circle-highlight {
    background: #45B6B0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff!important;
}
.plan-circle-highlight h3 {
    color: #fff;
    padding: 35px 0 0 0;
}
.plan-circle-highlight p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.plan-circle-highlight span {
    margin: 0;
}
/*
Timeline
 */

.timeline {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 2px;
    background: #F79365;
    left: 32px;
    /* border: 1px solid #eee; */
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline > li:before, .timeline > li:after {
    display: table;
    content: " ";
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-item {
    margin-top: 25px;
    border: 0px solid #dfdfdf;
    background: #fff;
    color: #888;
    margin-left: 60px;
    margin-right: 0;
    padding: 0;
    position: relative;
    line-height: 1.6em;
    font-size: 13px;
}
.timeline > li > .timeline-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 22px 22px 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3) #FCF5DE #FCF5DE rgba(255, 255, 255, 0.3);
    background: transparent;
    display: block;
    width: 0;
}
.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    margin: 2px 0 0 0;
}
.timeline > li > .timeline-item > .timeline-header {
    margin: 0 0 10px;
    border-bottom: 1px dashed #ddd;
    padding: 20px;
    font-size: 14px;
    line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header span {
    color: #fff;
    font-size: 13px;
    font-weight: bold
}
.timeline > li > .timeline-item > .timeline-header:before {
    content: "\f0d9";
    font-size: 60px;
    font-family: FontAwesome;
    position: absolute;
    left: -15px;
}
.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 0 25px 25px;
}
.timeline > li.time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #C2CBD1;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 45px;
    height: 45px;
    font-size: 25px;
    line-height: 45px;
    position: absolute;
    color: #fff;
    background: #c2cbd1;
    border-radius: 50%;
    text-align: center;
    left: -4px;
    top: 50px;
}
.timeline > li > span {
    color: #666;
    margin: 0;
    position: relative;
    left: 60px;
    top: 5px;
}
.timeline > li > span > small {
    background: none repeat scroll 0 0 #b1c2ca;
    border-radius: 3px;
    color: #fff;
    float: right;
    margin: 0;
    padding: 3px 5px;
    text-align: right;
    top: 0;
}
.timeline-body span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: -10px;
    display: block;
    padding-bottom: 10px;
}
.timeline-body span small {
    float: right;
}
/*
404 & 500
 */

.not-found {
    text-align: center;
}
.not-found h1 {
    color: #f9b493;
    font-size: 13em;
    font-weight: bold;
    display: inline-block;
}
.not-found h1 i {
    height: 100px;
    width: 100px;
    line-height: 100px;
    background: #F79365;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    color: #fff;
}
.not-found h2 {
    color: #f9b493;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
.not-found p {
    color: #f9b493;
    margin-top: 8px;
}
.not-found-search {
    width: 30%;
    margin: 30px auto 0 auto;
}
